@import url(http://allfont.ru/allfont.css?fonts=eurostyle-normal);


body{
    font-family:  'EuroStyle Normal', arial;
    margin: 0%;
}

.map_row, .title{
   
	display: flex;
	
     flex-wrap: wrap;
}

.calculator_body{
    padding: 1%;
    background-color: #2b2c30;
}

.map_row, .title {
    background-color: #1d1e22;
    margin: 1%;
}

.map_row select{
    font-family:  'EuroStyle Normal', arial;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
     color: #f2fded;
     background-color: #000000;
    border: 1px solid black;
}
.map_row  div{
    height: 30px;;
   line-height: 30px;
    text-align: center;
    
    
   color: #f2fded;
    margin: 1%;
    width: 17.6%;
    background-color: #000000;
    border: 1px solid black;
	
}

 .title div{
    height: 30px;;
   line-height: 30px;
    text-align: center;
    
    
   color: #f2fded;
    margin: 1%;
    width: 17.6%;
   
	
}





@media screen and (max-width:800px) {
  /* Target portrait smartphones */

    .title div{
    height: 30px;
   line-height: 30px;
    text-align: center;
    background-color: whitesmoke;
    
   color: #f2fded;
    margin: 1%;
    width: 17.6%;
   
	
}
 
    
    
}